img{
    max-width: 500px;
    height: 200px;;
}
/* for laptop */
@media screen and (min-width:760px)and (max-width:1024px){

}
/* for tablets */
@media screen and (min-width:481px)and (max-width:768px){
    img{
        max-width:300px;
        height: auto;
    }
P{
    background-color: aquamarine;
    color:black
}
}
/* for mobile */
@media screen and (min-width:320px) and (max-width:480px){

}